{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
  {% if content %}
    {# A bit strange but seems to be the most consistent way to get these set #}
    {% set _ = form.node_id.process_data(content["node"]._id) %}
    {% set _ = form.node_version.process_data(content["node"]._version) %}
    {% set _ = form.node_hash.process_data(content["node"]._hash) %}
    {% set _ = form.content_hash.process_data(content["content"]._hash) %}
    {% set _ = form.content_type.process_data(content["type"].content_class) %}
    {% set _ = form.site_name.process_data(content["content"].site_name) %}
    {% set _ = form.local_build_dir.process_data(content["content"].local_build_dir) %}
    {% set _ = form.static_files_dir.process_data(content["content"].static_files_dir) %}
    {% set _ = form.index_content.process_data(content["content"].index_content) %}
  {% endif %}
  <div class="container">
    <div class="title">
      <h1>{{ title }}</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{ wtf.quick_form(form) }}
      </div>
    </div>
  </div>

{% endblock %}
