{% extends "base.html" %}

{% block content %}
  {% if content %}
  {# A bit strange but seems to be the most consistent way to get these set #}
    {% set _ = form.hidden_node_id.process_data(content["node"]._id) %}
    {% set _ = form.hidden_node_version.process_data(content["node"]._version) %}
    {% set _ = form.hidden_node_hash.process_data(content["node"]._hash) %}
    {% set _ = form.hidden_content_hash.process_data(content["content"]._hash) %}
    {% set _ = form.hidden_content_type.process_data(content["type"].content_class) %}
  {% endif %}
	<div class="title">
		<h1>{{ title }}</h1>
	</div>
	<form action="" method="post" class="edit-article-form">
    {{ form.hidden_tag() }}
		<div class=form-fields">
			<div class="article title-edit">
        {% if content %}
          {% set default_title = content["content"].title %}
        {% else %}
          {% set default_title = "" %}
        {% endif %}
				{{ form.title.label }}
				{{ form.title(value=default_title, size=32) }}
				<div class="form-item-description">{{ form.title.description }}</div>
				{% for error in form.title.errors %}
				<span style="form-error">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="article body-edit">
				{{ form.body.label }}
        {% if content %}
          {% set default_body = content["content"].body %}
        {% else %}
          {# Stupid CKeditor hack, otherwise submit button silently fails #}
          {% set default_body = " " %}
        {% endif %}
        {% set _ = form.body.process_data(default_body) %}
				{{ form.body(id="editor") }}
				<div class="form-item-description">{{ form.body.description }}</div>
				{% for error in form.body.errors %}
				<span style="form-error">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="submit profile-edit-submit">
				{{ form.submit() }}
			</div>

		</div>
	</form>
  <!-- CK Editor for text area WYSIWYG -->
  <script src="https://cdn.ckeditor.com/ckeditor5/16.0.0/classic/ckeditor.js"></script>
  <script>
    ClassicEditor
        .create( document.querySelector( '#editor' ), {
        })
        .catch( error => {
            console.error( error );
        } );
  </script>
{% endblock %}
