{% extends "base.html" %}

{% block content %}
	<div class="title">
		Edit Article
	</div>
	<form action="" method="post" class="edit-article-form">
		{{ form.hidden_tag() }}
		<div class=form-fields">
			<div class="article title-edit">
				{{ form.title.label }}
				{{ form.title(size=32) }}
				<div class="form-item-description">{{ form.title.description }}</div>
				{% for error in form.title.errors %}
				<span style="form-error">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="article body-edit">
				{{ form.body.label }}
				{{ form.body() }}
				<div class="form-item-description">{{ form.body.description }}</div>
				{% for error in form.body.errors %}
				<span style="form-error">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="article tags-edit">
                {{ form.tags.label }}
                {{ form.tags() }}
                <div class="form-item-description">{{ form.tags.description }}</div>
                {% for error in form.tags.errors %}
				<span style="form-error">[{{ error }}]</span>
				{% endfor %}
			</div>
			<div class="submit profile-edit-submit">
				{{ form.submit() }}
			</div>
			{% if node_id and node_version %}
                {{ form.node_id }}
                {{ form.node_version }}
			{% endif %}
		</div>
	</form>
{% endblock %}
