{% extends "base.html" %}

{% block content %}
	<div class="user-profile">
		<div class="profile-username">
			User: {{ content["content"].username }}
		</div>
		<div class="profile-email">
			Email: {{ content["content"].email }}
		</div>
		<div class="profile-last-access">
			Last Accessed: {{ content["content"].last_login }}
		</div>
		<div class="profile-roles">
			User Roles: {{ content["content"].roles }}
		</div>
		{% if content["content"] == current_user %}
		<div class="profile-edit-link">
			<a href={{ url_for("edit_user") }}/{{ content["node"]._id }}>Edit your profile</a>
		</div>
		{% endif %}
	</div>
{% endblock %}
