{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}

{% set _ = build_form.last_site.process_data(content["node"].layer_previous_node) %}
{% set _ = build_form.next_site.process_data(content["node"].layer_next_node) %}
{% set _ = build_form.local_build_dir.process_data(content["content"].local_build_dir) %}
{% set _ = build_form.static_files_dir.process_data(content["content"].static_files_dir) %}
{% set _ = build_form.hosting_type.process_data(content["content"].hosting_type) %}
{% set _ = build_form.index_content.process_data(content["content"].index_content) %}
{% set _ = build_form.menu_content.process_data(content["content"].menu_content) %}
{% set _ = build_form.groups_content.process_data(content["content"].groups_content) %}
<div class="button-form" style="visibility: hidden; display: none;">
  {{ wtf.quick_form(build_form, id="site-build-form", method="POST") }}
</div>
  <div class="container generic {{ content['type'].name.replace(' ', '-').lower() }}">
    <div class="create-content-options">
      <button onclick=document.getElementById('site-build-form').submit();>Build Site</button>
      <a href={{ url_for("edit_site") }}{{ content["node"]._id }}><button>Edit Site</button></a>
    </div>
    <table class="site-content" style="width: 100%;">
      <tr class="identifiers">
        <th class=" ">
          Site Name
        </th>
        <th class=" ">
          Environment
        </th>
        <th class=" ">
          Last Published
        </th>
      </tr>
      <tr class="data">
        <td class="content ">
          {{ content["content"].site_name }}
        </td>
        <td class="content ">
          {{ content["content"].environment_name }}
        </td>
        <td class="content ">
          {{ content["content"].last_published }}
        </td>
      </tr>
      <tr class="identifiers">
        <th class=" ">
          Local Build Directory
        </th>
        <th class=" ">
          Static Files Directory
        </th>
        <th class=" ">
          Hosting Type
        </th>
      </tr>
      <tr class="data">
        <td class="content ">
          {{ content["content"].local_build_dir }}
        </td>
        <td class="content ">
          {{ content["content"].static_files_dir }}
        </td>
        <td class="content ">
          {{ content["content"].hosting_type }}
        </td>
      </tr>
      <tr class="identifiers">
        <th class=" ">
          Content Hash
        </th>
        <th class=" ">
          Index Content
        </th>
        <th class=" ">
          Menu Content
        </th>
      </tr>
      <tr class="data">
        <td class="content">
          {{ content["content"].content_hash }}
        </td>
        <td class="content">
          {{ content["content"].index_content }}
        </td>
        <td class="content">
          {{ content["content"].menu_content }}
        </td>
      </tr>
      <tr class="identifiers">
        <th class=" ">
          Groups Content
        </th>
        <th class=" ">
          Last Workflow Stage
        </th>
        <th class=" ">
          Next workflow Stage
        </th>
      </tr>
      <tr class="data">
        <td class="content">
          {{ content["content"].groups_content }}
        </td>
        <td class="content">
          {{ content["node"].layer_previous_node }}
        </td>
        <td class="content">
          {{ content["node"].layer_next_node }}
        </td>
      </tr>
    </div>

{% endblock %}
