/* Base Styles */

body{
  background-color: black;
  background-image: url("/static/images/green-binary.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #12b912;
}
body .navbar-default{
  background-color: #1F1F1F;
  border-color: #12b912;
  color: #12b912;
}
navbar,
.title{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  color: #12b912;
  background-color: rgba(0, 0, 0, 0.7);
  width: max-content;
}
body .navbar-default .navbar-nav > li > a,
body .navbar-default .navbar-brand{
  color: #12b912;
}
body .navbar-default .navbar-toggle{
  background-color: #000000;
  border-color: #12b912;
}
body .navbar-default .navbar-toggle .icon-bar{
  background-color: #12b912;
}
.body{
  color: #12b912;
  background-color: rgba(0, 0, 0, 0.7);
}

.articles-list{
  margin: 10px 20px 10px 20px;
}

.articles-list .title {
  padding-left: 0;
}

.article-title{
  text-decoration: underline;
  font-size: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #12b912;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Transparent shading for text over background images */
.article-body{
  color: #12b912;
  background-color: rgba(0, 0, 0, 0.7);
}

.article-body p{
  background-color: rgba(0, 0, 0, 0.65);
}

.article-title p{
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.article-created-date{
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgba(0, 0, 0, 0.75);
}

.content-body{
  padding: 10px;
}

.article-created-date{
  font-size: .8em;
  margin-bottom: 10px;
}

.article .article-created-date{
  padding-left: 10px;
}

/*   left-margin: 100px; */
.login-form{
  padding: 10px;
}
.login-form .remember-me-fields,
.login-form .register-option{
  padding-top: 5px;
/*   margin-left: 27%; */
}
.login-form .remember-me-fields label{
/*   width: 30%; */
}
.login-form .submit-button{
  margin-top: 10px;
  margin-bottom: 10px;
/*   margin-left: 27%; */
}

/* General Form Styles */

form .form-control{
  width: 80%;
}

input{
  background-color: #2F2F2F;
}
form textarea,
form input{
  background-color: #3A3A3A;
  border: 1px #202020 dotted;
  margin: 2px;
  caret-color: #50D214;
  color: #5FDF2F;
  font-weight: bold;
}
.form-group p{
  background-color: rgba(0, 0, 0, 0.7);
}
form input#submit{
  color: #F0F0F0;
}
form label{
  display: inline-block;
  /*width: 25%;*/
}
form span.form-error{
  color: #f01111;
}
form textarea{
  max-width: 50%;
}
form .form-item-description{
  font-size: 80%;
  font0weight: lighter;
  padding-left: 5%;
}

/* Error Pages */
body div.error-message{
  font-weight: bold;
  color: #f01111;
  border: 2px #5FDF2F dotted;
}

/* General Form Table Styles */

table .table-head-item{
  font-size: 1.2em;
  background-color: #1F1F1F;
}
.content-item-multiple{
  border: 1px #2F2F2F solid;
  padding: 5px 15px; 2px; 5px;
}
body label{
  color: green;
}
table{
  background-color: rgba(0, 0, 0, 0.7);
}

/* Results Table Styles */

.results-table{
  border: 1px #2F2F2F solid;
  width: 60%;
  color: green;
}

/* Cover Background */
.content{
  background-color: rgba(0, 0, 0, 0.7);
}

/* Buttons */
body button{
  background-color: #252d1c;
  color: #9ae22b;
  border-color: #535050;
}

body .tabulator .tabulator-header .tabulator-col {
\	border-right: 1px solid green;
	background: #484646;
}

body .tabulator .tabulator-header {
	color: #9ae22b;
  border-color: green;
}

body .tabulator .tabulator-header {
	border-bottom: 1px solid green;
	background-color: #e6e6e6;
	color: #9ae22b;

}

body .tabulator {
	border: 1px solid #1d4d27;
	background-color: #1f1f1f;
}

body .tabulator-row .tabulator-cell {
	border: 1px solid green;
  /* background-color: #000000; */
  color: #9ae22b;
}

body .tabulator-row.tabulator-row-even {
	background-color: #181818;
}

body .tabulator-row.tabulator-row-odd {
	background-color: #000000;
}

body .tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
  background-color: #101010;
}

body .tabulator-row.tabulator-selectable:hover {
  background-color: #101010;
}

.create-content-options button:hover{
  background-color: #202020;
}

body .ck-editor__editable_inline {
    min-height: 250px;
}

body .ck.ck-editor__top .ck-sticky-panel__content .ck-toolbar {
  background-color: #4FB529;
  border-color: #303030;
}

body .ck.ck-toolbar .ck.ck-toolbar__separator {
  background-color: #000000;
  color: #000000;
}

body .ck .ck-editor__main .ck-editor__editable_inline {
  background-color: #000000;
  border-color: #1A1A1A;
}

table.site-content th{
  background-color: #2F2F2F;
}

body table tbody td:first-child {
	font-weight: normal;
}
